<dialog open>
  <article>
    <header>
      <a href="/login" aria-label="Close" class="close"></a>
      <p style="text-align: center;">
        ❌ No User Found ❌
      </p>
    </header>
    <p>
      <h3>
        <strong>
          There is no user registered with this e-mail
        </strong>
      </h3>
    </p>
  </article>
</dialog>