<div class="container">
  <article>
    <h1>Recover Password </h1>
    <form action="/api/sendMail" method="get">
      <label for="newpassword">
        Email:
        <input type="text" name="email" id="email" required />
      </label>
      <button type="submit">Send Email</button>
    </form>
  </article>
</div>