<div class="container">
  <article>
    <h1>Recover Password: <ins><strong>{{email}}</strong></ins> </h1>

    <label for="newpassword">
      New password:
      <input type="password" name="newpassword" id="newpassword" required />
    </label>
    <label for="password">
      Confirm password:
      <input type="password" name="password" id="password" required />
    </label>

    <button onclick="updatePassword('{{id}}')">Change
      Password</button>
  </article>
</div>
<script src="js/user.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>