<dialog open>
  <article>
    <header>
      <a href="/login" aria-label="Close" class="close"></a>
      <p style="text-align: center;">
        ❌ Token Invalid ❌
      </p>
    </header>
    <p>
      <h3><strong>
          ⚠️ Token is invalid ⚠️ 
    </p>
  </article>
</dialog>